# Email for LetsEncrypt certificates
email = ""

# GKE name, region, and zone
cluster_name = ""
region = "us-west1"
zone = "us-west1-a"

# DNS zone names
root_zone_name = ""
pbs_subdomain = "pbs"

project_id = ""

uaa_username = "someusername"
uaa_password = "somepassword"